<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - Gene / protein search tool</title>
    <link rel="stylesheet" type="text/css" href="{{static('gpt/style.css')}}" />
    <script type="text/javascript" 
      src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type='text/javascript'
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
    <script type="text/javascript" 
      src="{{static('gpt/gpt.js')}}"></script>
    {% block meta %}{% endblock %}
  </head>
  <body>
    <div id='content'>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
