{% extends "gpt/base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
  <h1>Gene / protein search tool</h1>
  <p>Enter search terms in the NCBI Entrez format. These will be used to
    search the NCBI gene database.</p>
  <form name="gene_search" id="gene_search" action="{{url('gpt:search')}}" method='post'>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input name="term" id="term" type="search" value="" 
      autofocus="autofocus" placeholder="Enter a search term"
      size='50'/>
    <input name="submit" type="submit" id="submit" value="submit">
  </form>
{% endblock %}
